<table class="table table-hover">
  <thead>
  <tr>
      <td>Hotel</td>
      <td>Location</td>
      <td>Rating</td>
      <td>Image</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let business of businesses">
          <td>{{ business.name }}</td>
          <td>{{ business.place }}</td>
          <td>{{ business.rating }}</td>
          <td><img src="{{business.image}}" width="50px" height="50px"></td>
          <td><a [routerLink]="['edit', business._id]" class="btn btn-primary">Edit</a></td>
          <td><a (click) = "deleteBusiness(business._id)" class="btn btn-danger">Delete</a></td>
      </tr>
  </tbody>
</table>